<%- include('headUser.ejs') %>
<div class="search-container">
    <form action="/user/search/result" method="get">
        <input type="text" placeholder="Search.." name="search">
        <input type="hidden" name="userID" value="<%= user.userID %>">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <button  onclick="redirectTo('/user/explore/ingredients', '<%= user.userID %>')" id="sbtn">By Ingredients</button>
</div>

  

<%- include('footUser.ejs') %>